@model IDictionary<HPlusSports.Models.Category, int>

@{
    ViewBag.Title = "Products";
}

<h2>@ViewBag.Title</h2>

<div class="row">

@foreach (var category in Model.Keys)
{
    <div class="col-md-4 text-center">
        <a href="@Url.Action("Category", "Products", new { id = category.Key })">
            <img class="img-thumbnail" src="@Url.Action("Category", "Images", new { id = category.Key })" />
            <h3>@category.Name</h3>
        </a>
    </div>
}

</div>
